@import "../../styles/variables.scss";

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 75px;
  width: 100%;
  background-color: $green-color;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-icon {
  height: 90px;
  flex: 1 1 calc(100% / 3);

  display: flex;
  flex-direction: column;
  justify-content: end;
}

.footer-option-icon {
  height: 36px;
  color: rgba($color: #fff, $alpha: 0.7);
}

.footer-option-title {
  font-size: 14px;
  color: rgba($color: #fff, $alpha: 0.7);
  margin-top: 0px;
}
