html, body, #root {
  min-height: 100vh;
}

.main-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #475e6c, #141b1f);
}

.logo-background {
  background-color: #00aaa2;
}